<!DOCTYPE html>
<html>
  <head>

    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>

    <script src="/javascripts/index.js"></script>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Soundcloud-->
  </head>
  <body>
    <button type="button" class="btn btn-auth btn-block btn-info">Soundcloud Authenticate</button>
    <button type="button" class="btn btn-block btn-danger btn-show-after-auth btn-fav">Load favorites</button>
    <button type="button" class="btn btn-block btn-warning btn-show-after-auth" data-toggle="modal" data-target=".bs-example-modal-sm">Add friend</button>

    <ul class="favs list-group scrollable-menu"></ul>
    <ul class="queue list-group scrollable-menu"></ul>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Invite friend</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username">
                User
              </label>
              <input type="text" class="form-control form-user" placeholder="Username">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-add-friend btn-primary" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
